.header {
    width: 100%;
    height: var(--header-height);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    flex: 0 0 auto;
    padding: 0 48px;
    background-size: cover;
    background: #06152c url('../../images/footer.jpg') fixed;
    z-index: 2;
    position: fixed;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header li {
    display: inline;
    float: left;
}

.header li a {
    display: block;
    margin: 0;
    padding: 15px 20px 14px 20px;
    font-size: 18px;
    color: #f5f5f5;
    text-decoration: none;
}

.header li a.active {
    background-color: #0892ac;
}

.header li a:hover {
    background-color: #056782;
}

.header .title {
    display: inline-block;
    float: left;
    color: #ffffff;
    line-height: var(--header-height);
    margin-right: 48px;
}