.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px 0 var(--footer-height);
    position: fixed;
    overflow: auto;
    z-index: 1;
    box-shadow: 1px 0 #dfe5eb;
}

.sidebar .title,
.sidebar a {
    padding: 5px 15px 5px 32px;
}

.sidebar a {
    display: block;
    line-height: 16px;
}