.history-page {

}

.history-page img.yahoo {
    width: 500px;
}

.history-page img.google {
    width: 400px;
}

.history-page img.statistic {
    width: 500px;
}


.history-page img.web-crawler {
    width: 400px;
}


.history-page img.alta-vista {
    width: 500px;
}