{% from 'macros/linked_title.html' import linked_title_h1, linked_title_h2 %}

{% extends 'base/layout.html' %}

{% set add_class = 'history-page' %}

{% set sidebar_items = [
    ('История поисковых систем', 'history'),
    ('Yahoo!', 'yahoo'),
    ('WebCrawler', 'web-crawler'),
    ('AltaVista', 'alta-vista'),
    ('Google', 'google'),
    ('Яндекс', 'yandex'),
    ('Настоящее время', 'now'),
] %}

{% block content %}
    <div>
        <img class="centered-image" src="../../static/images/search_bubbles.png" alt=""/>
        {{ linked_title_h1(*sidebar_items[0]) }}
        <p>В <i>начальный период</i> развития Интернет, число его пользователей было невелико, а объем доступной
            информации
            сравнительно небольшим. В большинстве своем, доступ к сети Интернет имели лишь сотрудники
            <i>научно-исследовательской сферы</i>. В это время задача поиска информации в Интернете не была столь
            актуальной,
            как в настоящее время.</p>
    </div>
    <div class="right-info">
        {{ linked_title_h2(*sidebar_items[1]) }}
        <figure>
            <img class="yahoo" src="../../static/images/yahoo.jpg" alt=""/>
            <figcaption>Ранняя версия сайта Yahoo!</figcaption>
        </figure>
        <p>Одним из первых способов организации доступа к информационным ресурсам сети стало создание <i>открытых
            каталогов сайтов</i>, ссылки на ресурсы в которых группировались согласно тематике.</p>
        <p>В январе 1994 года аспиранты Стэнфордского университета Дэвид Фило (англ. David Filo) и Джерри Янг создали
            веб-сайт, который назывался «Путеводитель Джерри по Всемирной Паутине». «Путеводитель» представлял собой
            каталог других сайтов.</p>
        <p>В апреле 1994 года сайт был переименован в <a href="https://www.yahoo.com/" target="_blank">Yahoo!</a>. После того, как
            количество сайтов в каталоге Yahoo
            значительно увеличилось, была добавлена возможность
            поиска нужной информации по каталогу. В полном смысле это еще не было поисковой системой, так как поисковая
            область была ограничена только ресурсами, присутствующими в каталоге, а не всеми Интернет ресурсами.</p>
        <p>Янг и Фило быстро оценили коммерческий потенциал проекта и 2 марта 1995 года основали корпорацию Yahoo!.</p>
    </div>
    <div class="centered-info">
        {{ linked_title_h2(*sidebar_items[2]) }}
        <figure>
            <img class="styled-image web-crawler" src="../../static/images/web_crawler.png" alt=""/>
            <figcaption>Версия WebCrawler образца 1995г.</figcaption>
        </figure>
        <p>Первой полноценной поисковой системой стал проект <a href="https://www.webcrawler.com/" target="_blank">WebCrawler</a>,
            вышедший в свет в 1994 году.</p>
        <p>Основным отличием, которой было предоставление возможности пользователям осуществлять поиск по любым ключевым
            словам на любой веб-странице. Сейчас эта технология является стандартом любой поисковой системы.</p>
        <p>«WebCrawler» стала первой поисковой системой, о которой было известно широкому кругу пользователей.</p>
    </div>
    <div class="left-info">
        {{ linked_title_h2(*sidebar_items[3]) }}
        <figure>
            <img class="alta-vista" src="../../static/images/altavista.jpg" alt=""/>
            <figcaption>AltaVista в 1999г.</figcaption>
        </figure>
        <p>В 1995 году появились поисковые системы <a href="https://www.lycos.com/" target="_blank">Lycos</a> и AltaVista. Последняя
            долгие годы была лидером в области поиска информации в сети Интернет.</p>
        <p>AltaVista появилась в декабре 1995
            года и была поддержана самым мощным доступным на тот момент вычислительным сервером — 64-битным сервером
            DEC Alpha. Это была самая быстрая поисковая система, которая могла обрабатывать миллионы поисковых запросов
            в день.</p>
        <p>Важным нововведением AltaVista было включение поиска естественного языка. Пользователи могли напечатать фразу
            или вопрос и получить интеллектуальный ответ.</p>
        <p>Одной из первых AltaVista дала поисковой машине короткое имя av.com, создала «легковесную» заглавную страницу
            без рекламы и посторонних ссылок (http://ragingsearch.com, ныне не действует).</p>
        <p>В феврале 2003 AltaVista была куплена Overture Services, Inc., которая в июле 2003 была приобретена
            Yahoo!. С мая 2011 AltaVista перешла на поисковую технологию Yahoo!.</p>
        <p>8 июля 2013 года поисковая система AltaVista прекратила работу.</p>
    </div>
    <div class="right-info">
        {{ linked_title_h2(*sidebar_items[4]) }}
        <figure>
            <img class="google" src="../../static/images/google.png" alt=""/>
            <figcaption>Google в 1998г.</figcaption>
        </figure>
        <p>В 1997 году Сергей Брин и Ларри Пейдж создали поисковую машину <a href="https://www.google.ru/" target="_blank">Google</a> в
            рамках исследовательского проекта в Стэндфордском университете.</p>
        <p>К концу 1998 года Google проиндексировал около 60 миллионов страниц. На главной странице по-прежнему была
            метка «BETA», но поисковик уже начал получать положительные отзывы.</p>
        <p>Поиск Google привлекает растущее число Интернет-пользователей своим простым интерфейсом. В 2000 году Google
            начала продажу рекламы, связанную с ключевыми словами поиска. Реклама была текстовой, не загромождая дизайн
            страницы и не уменьшая скорость её загрузки.</p>
        <p> В отличие от многих конкурентов, Google удалось постепенно выйти в новый рынок Интернета.</p>
    </div>
    <div class="centered-info">
        {{ linked_title_h2(*sidebar_items[5]) }}
        <figure>
            <img class="yandex" src="../../static/images/yandex.jpg" alt=""/>
            <figcaption>Яндекс в 1997г.</figcaption>
        </figure>
        <p>В сентябре 1997 года была официально анонсирована поисковая система <a href="https://yandex.ru/" target="_blank">Yandex</a>,
            являющаяся самой популярной в русскоязычном Интернете.</p>
        <p>Первая рабочая версия поискового приложения под названием «Яndex» появилась в 1993 году, тогда оно
            представляло собой инструмент для поиска информации в рамках одного веб-сайта. Программа была создана
            основанной в 1988 году компанией CompTek.</p>
        <p>«Яндекс» не был первой поисковой системой России (раньше появились Рамблер и Апорт), но стал быстро
            набирать аудиторию. В 2001 году он обогнал крупнейший поисковик российского сегмента сети — Рамблер, став
            лидером в Рунете.</p>
        <p>К 2011 году «Яндекс» стал одной из крупнейших в Европе интернет-компаний с капитализацией 10 млрд
            долларов (на 2013 год). С 4,84 млрд поисковых запросов система «Яндекс.Поиск» к началу 2013 года
            занимала среди поисковых систем четвёртое место в мире и второе среди неанглоязычных систем после
            китайской Baidu.</p>
    </div>
    <div class="right-info">
        {{ linked_title_h2(*sidebar_items[6]) }}
        <figure>
            <img class="statistic styled-image" src="../../static/images/statistic.jpg" alt=""/>
            <figcaption>Статистика использования посковиков на 2018г.</figcaption>
        </figure>
        <p>В настоящее время существуют три основные международные поисковые системы – Google, Yahoo и MSN, имеющих
            собственные базы и алгоритмы поиска.</p>
        <p>Большинство остальных поисковых систем (коих насчитывается большое
            количество) использует в том или ином виде результаты трех перечисленных. Например, поиск AOL
            (search.aol.com) использует базу Google, а Lycos и AllTheWeb – базу Yahoo.</p>
    </div>
{% endblock %}
