{% extends 'base/layout.html' %}

{% set add_class = 'index-page' %}

{% block content %}
    <div>
        <img class="search" src="../../static/images/search.png" alt=""/>
        <h1>Что такое поисковая система?</h1>
        <p>
            <strong>Поисковая система</strong> (англ. <i>search engine</i>) — это компьютерная <em>система</em>,
            предназначенная для
            <em>поиска информации</em>. Одно из наиболее известных применений поисковых систем — веб-сервисы для поиска
            текстовой
            или графической информации во Всемирной паутине <sup><a href="https://clck.ru/9cUQc">Wikipedia</a></sup>.
        </p>
    </div>
    <div>
        <p>Для поиска информации с помощью поисковой системы пользователь формулирует поисковый запрос<sub><a href="http://promo-sa.ru/seo-terms/zapros">Promo-sa</a></sub>. Работа
            поисковой системы заключается в том, чтобы по запросу пользователя найти документы, содержащие либо
            указанные ключевые
            слова, либо слова, как-либо связанные с ключевыми словами. При этом поисковая система генерирует страницу
            результатов поиска. Такая поисковая выдача может содержать различные типы результатов, например:
            веб-страницы, изображения, аудиофайлы. Некоторые поисковые системы также извлекают информацию из подходящих
            баз данных и
            каталогов ресурсов в Интернете.</p>
    </div>
    <div class="engines-list">
        <h2>Самые известные поисковые системы</h2>
        <ul class="styled-list">
            <li><a href="https://www.google.ru/">Google</a></li>
            <li><a href="https://yandex.ru/">Яндекс</a></li>
            <li><a href="https://www.bing.com/">Bing</a></li>
            <li><a href="https://www.yahoo.com/">Yahoo</a></li>
            <li><a href="https://www.sputnik.ru/">Спутник</a></li>
            <li><a href="https://duckduckgo.com/">DuckDuckGo</a></li>
            <li><a href="https://www.rambler.ru/">Rambler</a></li>
            <li><a href="https://www.ask.com/">Ask.com</a></li>
        </ul>
    </div>
    <div>
        <h2>Какая система лучше?</h2>
        <p>Поисковая система тем лучше, чем <b>больше документов, релевантных запросу пользователя</b>, она будет
            возвращать.
            Результаты поиска могут становиться менее релевантными из-за особенностей алгоритмов или вследствие
            человеческого фактора. По состоянию на 2019 год самой популярной поисковой
            системой в мире является Google, однако есть страны, где пользователи отдали предпочтение другим
            поисковикам. Так, например, в России «Яндекс» обгоняет Google больше, чем на 10%.</p>

        <h2>Типы систем</h2>
        <p>По методам поиска и обслуживания разделяют четыре типа поисковых систем: системы, использующие поисковых
            роботов, системы, управляемые человеком, гибридные системы и мета-системы. В архитектуру поисковой
            системы обычно входят:
        <ol>
            <li>поисковый робот, собирающий информацию с сайтов сети Интернет или из других документов,</li>
            <li>индексатор, обеспечивающий быстрый поиск по накопленной информации, и</li>
            <li>поисковик — графический интерфейс для работы пользователя.</li>
        </ol>
        </p>
    </div>
    <div class="right-info">
        <h1>Основные характеристики поисковых систем</h1>
        <figure>
            <img class="loupe" src="../../static/images/loupe.png" alt=""/>
        </figure>
        <h2>Полнота</h2>
        <p>Полнота является одной из главнейших характеристик поиска, она представляет собой отношение цифры найденных
            по запросу информационных документов к их общему числу в интернете, относящихся к данному запросу. Например,
            в сети есть 100 страниц имеющих словосочетание «как выбрать авто», а по такому же запросу было отобрано
            всего 60 из общего количества, то в данном случае полнота поиска составит 0,6. Понятно, что чем полнее сам
            поиск, тем больше вероятность, что пользователь найдет именно тот документ, который ему необходим, конечно,
            если он вообще существует.</p>
        <h2>Точность</h2>
        <p>Еще одна основная функция поисковой системы – точность. Она определяет степень соответствия запросу
            пользователя найденных страниц в Сети. К примеру, если по ключевой фразе «как выбрать автомобиль» найдется
            сотня документов, в половине из них содержится данное словосочетание, а в остальных просто есть в наличии
            такие слова (как грамотно выбрать автомагнитолу, и установить ее в автомобиль»), то поисковая точность равна
            50/100 = 0,5. </p>
        <p>Чем поиск точнее, тем скорее пользователь найдет необходимую ему информацию, тем меньше разнообразного
            «мусора» будет встречаться среди результатов, тем меньше найденных документов будут не соответствовать
            смыслу запроса.</p>
        <h2>Актуальность</h2>
        <p>Это значимая составляющая поиска, которую характеризует время, проходящее с момента опубликования информации
            в интернете до занесения ее в индексную базу поисковика.</p>
        <p>К примеру, на следующий день после возникновения информации о выходе нового iPad, множество пользователей
            обратилась к поиску с соответствующими видами запросов. В большинстве случаев информация об этой новости уже
            доступна в поиске, хотя времени с момента ее появления прошло очень мало. Это происходит благодаря наличию у
            крупных поисковых систем «быстрой базы», которая обновляется несколько раз за день.</p>
        <h2>Скорость поиска</h2>
        <p>Такая функция как скорость поиска теснейшим образом связана с так называемой «устойчивостью к нагрузкам».
            Ежесекундно к поиску обращается огромное количество людей, подобная загруженность требует значительного
            сокращения времени для обработки одного запроса. Тут интересы, как поисковой системы, так и пользователя
            целиком совпадают: посетитель хочет получить результаты как можно быстрее, а поисковая система должна
            отработать его запрос тоже максимально быстро, чтобы не притормозить обработку последующих запросов.</p>
        <h2>Наглядность</h2>
        <p>Наглядное представление результатов является важнейшим элементом удобства поиска. По множеству запросов
            поисковая система находит тысячи, а в некоторых случаях и миллионы разных документов. Вследствие нечеткости
            составления ключевых фраз для поиска или его не точности, даже самые первые результаты запроса не всегда
            имеют только нужные сведения. </p>
        <p>Это значит, что человеку часто приходится осуществлять собственный поиск среди предоставленных результатов.
            Разнообразные компоненты страниц выдачи ПС помогают ориентироваться в поисковых результатах.</p>
    </div>
    <div>
        <h1>Рынок поисковых систем</h1>
        <table class="market">
            <thead>
                <tr>
                    <th>Поисковая система</th>
                    <th>Доля рынка в июле 2014г.</th>
                    <th>Доля рынка в октябре 2014г.</th>
                    <th>Доля рынка в сентябре 2017г.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://www.google.ru/">Google</a></td>
                    <td>68,69&nbsp;%</td>
                    <td>58,01&nbsp;%</td>
                    <td>69,24&nbsp;%</td>
                </tr>
                <tr>
                    <td><a href="https://www.bing.com/">Bing</a></td>
                    <td>17,17&nbsp;%</td>
                    <td>29,06&nbsp;%</td>
                    <td>12,26&nbsp;%</td>
                </tr>
                <tr>
                    <td><a href="https://www.baidu.com/">Baidu</a></td>
                    <td>6,22&nbsp;%</td>
                    <td>8,01&nbsp;%</td>
                    <td>6,48&nbsp;%</td>
                </tr>
                <tr>
                    <td><a href="https://www.yahoo.com/">Yahoo!</a></td>
                    <td>6,74&nbsp;%</td>
                    <td>4,01&nbsp;%</td>
                    <td>5,19&nbsp;%</td>
                </tr>
                <tr>
                    <td><a href="https://www.aol.com/">AOL</a></td>
                    <td>0,13&nbsp;%</td>
                    <td>0,21&nbsp;%</td>
                    <td>1,11&nbsp;%</td>
                </tr>
                <tr>
                    <td><a href="https://www.ask.com/">Ask</a></td>
                    <td>0,13&nbsp;%</td>
                    <td>0,10&nbsp;%</td>
                    <td>0,24&nbsp;%</td>
                </tr>
                <tr>
                    <td><a href="http://www.excite.com/">Excite</a></td>
                    <td>0,22&nbsp;%</td>
                    <td>0,00&nbsp;%</td>
                    <td>0,00&nbsp;%</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
