{% extends 'base/layout.html' %}

{% set add_class = 'services-page' %}

{% block content %}
    <div>
        <img class="centered-image engine" src="../../static/images/search_engine.jpg" alt=""/>
        <h1>Услуги поисковых систем</h1>
        <p>В условиях конкуренции поисковые системы часто начали предлагать множество других услуг, среди которых:
            расширенные возможности поиска, игры, поиск по изображением и другое.</p>
        <h2>Целенаправленная реклама</h2>
        <p>Кроме функции быстрого поиска нужной информации или сайтов, поисковые системы предоставляют множество
            дополнительных услуг, главной из которых является <i>целенаправленная реклама</i>.</p>
        <p>Целенаправленная реклама всегда соответствует сфере интересов пользователя, что, с одной стороны, удобно, но
            с другой стороны, становится очень неуютно, когда понимаешь, что кто-то предугадывает твои вопросы и
            желания, а значит этот кто-то отслеживал историю твоих предыдущих запросов.</p>
        <p>Что такое поисковая система? Несмотря на то , что специфика поисковых движков различается, принцип поиска
            одинаков. Поисковая система представляет собой сложный алгоритм или набор алгоритмов, компьютерных программ,
            которые осуществляют обзор Интернета в поисках информации и веб-сайтов , соответствующих выбранным
            критериям, в частности, ключевому слову или фразе. Другой информацией, которая может быть включена в
            критерии поиска, являются <i>демографические данные о человеке, выполняющем поиск, которые также
                используются для фильтрации результатов. Для выдачи оптимальной информации по запросу пользователя,
                поисковая система
                использует данные о его возрасте, половой принадлежности и сфере интересов</i>.</p>
        <div class="right-info">
            <h2>Google</h2>
            <figure>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe
                                width="400"
                                height="300"
                                id="gmap_canvas"
                                src="https://maps.google.com/maps?q=%D0%9C%D0%B0%D1%83%D0%BD%D1%82%D0%B8%D0%BD-%D0%92%D1%8C%D1%8E&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0"
                                scrolling="no"
                                marginheight="0"
                                marginwidth="0">
                        </iframe>
                    </div>
                </div>
                <figcaption>Штаб-квартира Google на карте</figcaption>
            </figure>
            <p>Система долго хранит проиндексированные роботами страницы в своем кэше, что позволяет «оживлять»
                мертвые,
                удаленные с серверов страницы, или видеть старые версии только что обновленных страниц. Система
                предоставляет отличную проверку правописания, легкий доступ к словарным определениям, просмотр биржевых
                ставок, дорожные атласы, базы номеров телефонов и многое другое. Программа AdWords размещает рекламные
                объявления на сайтах Google и его партнеров. Также Google является бесплатным поставщиком результатов
                поисковых запросов некоторых других поисковых систем.</p>
        </div>
        <h2>Яндекс</h2>
        <p>Службы: почта, новости, открытки и закладки, автоматическое объединение новостей в сюжеты и выделение главных
            тем дня. Плюс, стилизованный под Google Toolbar, спартанский поисковик ya.ru. Поиск теперь ведется не только
            по веб-страницам, но и по специализированным массивам данных – новостям и товарам. Находит документы не
            только в формате HTML.</p>
        <h2>Rambler</h2>
        <p>Понимает термины типа «б/у», «у.е.» и «а/я». Услуги: строка поиска, почта и новости. Особенность - механизм
            ассоциаций. Помимо стандартной ответной страницы, в которой найденные документы расположены в порядке
            убывания релевантности, появляется строка - «У нас также ищут». В ней приведены слова и словосочетания
            тематически связанные с запросом.</p>
        <h2>Yahoo!</h2>
        <p>Вдобавок к релевантной выдаче результатов поисковых запросов Yahoo предлагает возможность использовать ярлыки
            над поисковой формой на своей главной странице для поиска изображений, товаров или перехода на Желтые
            Страницы Yahoo. Можно производить поиск по каталогу Yahoo. Есть панель для браузера Firefox. Для
            хранения почты система предлагает 1 гигабайт бесплатного места или 2 по годовому абонементу. Yahoo продает
            место на сайте для рекламных ссылок; продажа ведется через программу Overture. Система учитывает
            орфографические ошибки, позволяет искать слово лишь по первым буквам.</p>
        <h1>Итого</h1>
        Перечислим некоторые сервисы, предоставляемые современными поисковыми системами.
        <ol>
            <li>Целенаправленная реклама</li>
            <li>Хранение проиндексированных страниц</li>
            <li>Проверка правописания</li>
            <li>Доступ к словарным определениям</li>
            <li>Просмотр биржевых ставок</li>
            <li>Карты и дорожные атласы</li>
            <li>Размещение рекламных объявлений</li>
            <li>Почта</li>
            <li>Новости</li>
            <li>Калькулятор в поисковой строке</li>
            <li>Поиск по товарам</li>
        </ol>
    </div>
{% endblock %}
