{% extends 'base/layout.html' %}

{% set add_class = 'sources-page' %}

{% block content %}
    <div>
        <h1>Список источников</h1>
        <ul class="styled-list">
            <li>
                <a href="https://works.doklad.ru/view/4yqZXQ0Pous.html" target="_blank">Учебные материалы &#8212;
                    Реферат "Поисковые системы"</a>
            </li>
            <li>
                <a href="https://www.seonews.ru/masterclasses/poiskovye-sistemy-interneta-yandeks-google-rambler-yahoo-sostav-funktsii/"
                   target="_blank">
                    SEOnews &#8212; Поисковые системы Интернета: Яндекс, Google, Rambler, Yahoo. Состав, функции,
                    принцип работы
                </a>
            </li>
            <li>
                <a href="http://www.baltslon.ru/rus/products/product54/" target="_blank">
                    Балтийские боевые слоны &#8212; Аналитический отчет "Поисковые системы"</a>
            </li>
            <li>
                <a href="http://www.sembook.ru/book/poiskovye_sistemy/kratkoe_vvedenie_v_poiskovye_sistemy/" target="_blank">
                    Энциклопедия поискового продвижения InGate &#8212; Краткое введение в поисковые системы</a>
            </li>
            <li>
                <a href="https://studme.org/43351/informatika/poiskovye_sistemy" target="_blank">
                    Studme.org &#8212; Поисковые системы
                </a>
            </li>
            <li>
                <a href="https://le-vpn.com/ru/search-engines-data-collection/" target="_blank">
                    Le VPN &#8212; КАКИЕ ПОИСКОВЫЕ СИСТЕМЫ СОБИРАЮТ ДАННЫЕ О ВАС
                </a>
            </li>
            <li>
                <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%D0%BE%D0%B2%D0%B0%D1%8F_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0" target="_blank">
                    Википедия. Свободная энциклопелия &#8212; Поисковая система</a>
            </li>
            <li>
                <a href="http://enc.guru.ua/index.php?content_id=164" target="_blank">
                    Guru.ua &#8212; Как работает Google?
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
