{% extends 'base/layout.html' %}

{% set add_class = 'work-page' %}

{% block content %}
    <div>
        <h1>Принципы работы поисковой системы</h1>
        <p>
            В России главной системой поиска является Яндекс, затем Google, а потом Поиск@Mail.ru. Все большие системы
            поиска имеют свою структуру, которая весьма отличается от других. Но все-таки можно выделить общие для всех
            поисковиков основные элементы.
        </p>
        <h2>Модуль индексирования</h2>
        <p>Данный компонент состоит из трех программ-роботов: </p>
        <p><b>Spider</b> (по англ. паук) – программа которая предназначена для того чтобы скачивать веб-страницы. «Паук»
            скачивает определенную страницу, одновременно извлекая из нее все ссылки. Скачивается код html практически с
            каждой страницы. Для этого роботы используют HTTP-протоколы. </p>
        <img class="centered-image work-1" src="../../static/images/work_1.png" alt=""/>
        <p>«Паук» функционирует следующим образом. Робот передает запрос на сервер “get/path/document” и иные команды
            запроса HTTP. В ответ программа-робот получает поток текста, который содержит информацию служебного вида и,
            естественно, сам документ. </p>
        <p>Извлекаются все ссылки из тэгов. Вместе с ними обрабатывают редиректы. Любая скачанная страница сохраняется в
            таком формате:</p>
        <ul>
            <li>URL скаченной страницы;</li>
            <li>дата, когда осуществлялось скачивание страницы;</li>
            <li>заголовок http-ответа сервера;</li>
            <li>html-код, «тела» страницы.</li>
        </ul>
        <p><b>Crawler</b> («путешествующий» паук). Данная программа автоматически заходит на все ссылки, которые найдены
            на
            странице, а также выделяет их. Его задача – определиться, куда в дальнейшем должен заходить паук,
            основываясь на этих ссылках или исходя из заданного списка адресов.</p>
        <p>
            <b>Crawler</b>, исследуя найденные ссылки, ищет новые документы, еще не ставшие известными поисковой
            системе.
        </p>
        <p><b>Indexer</b> (робот-индексатор) – это программа, анализирующая страницы, которые скачали пауки.</p>
        <img class="centered-image work-2" src="../../static/images/work_2.png" alt=""/>
        <p>Индексатор полностью разбирает страницу на составные элементы и проводит их анализ, применяя свои
            морфологические и лексические виды алгоритмов. </p>
        <p>Анализ проводится над разнообразными частями страницы, такими как заголовки, текст, ссылки, стилевые и
            структурные особенности, теги html и др. </p>
        <p>Таким образом, модуль индексирования дает возможность проходить по ссылкам заданного количества ресурсов,
            скачивать страницы, извлекать ссылочную массу на новые страницы из полученных документов и делать подробный
            их анализ.</p>
        <h2>База данных</h2>
        <p><b>База данных</b> (или индекс поисковика) - комплекс хранения данных, массив информации в котором
            сохраняются
            определенным образом переделанные параметры каждого обработанного модулем индексации и скачанного
            документа.</p>
        <h2>Поисковый сервер</h2>
        <p>Это самый важный элемент всей системы, потому что от алгоритмов, лежащих в основе ее функциональности, прямо
            зависит скорость и, конечно же, качество поиска. </p>
        <p>Поисковый сервер работает следующим образом:</p>
        <ul>
            <li>Запрос, который идет от пользователя подвергается морфологическому анализу. Информационное окружение
                любого документа, имеющегося в базе, генерируется (оно и будет в дальнейшем отображаться как сниппет,
                т.е. информационное поле текста соответствующего данному запросу).
            </li>
            <li>Полученные данные передают как входные параметры специализированному модулю ранжирования. Они
                обрабатываются по всем документам, и в итоге для каждого такого документа рассчитывается свой рейтинг,
                который характеризует релевантность такого документа запросу пользователя, и иных составляющих.
            </li>
            <li>В зависимости от условий заданных пользователем этот рейтинг вполне может быть подкорректирован
                дополнительными.
            </li>
            <li>Затем генерируется сам сниппет, т.е. для любого найденного документа из соответствующей таблицы
                извлекают заголовок, аннотацию, наиболее отвечающую запросу, и ссылка на этот документ, при этом
                найденные словоформы и слова подсвечивают.
            </li>
            <li>Результаты полученного поиска передаются осуществившему его человеку в виде страницы, на которую выдают
                поисковые результаты (SERP).
            </li>
        </ul>
        <p>Все эти элементы тесно связаны между собой и функционируют, взаимодействуя, образовывая отчетливый, но
            достаточно непростой механизм функционирования ПС, требующий громадных затрат ресурсов.
        </p>
    </div>
{% endblock %}
