{% set menu_items = [
    ('Главная', '/index', 'index'),
    ('История', '/history', 'history'),
    ('Услуги', '/services', 'services'),
    ('Принципы работы', '/work', 'work'),
    ('Список источников', '/sources', 'sources'),
] %}

<div class="header">
    <a href="/" title="На главную">
        <h1 class="title">Поисковые системы</h1>
    </a>
    <ul>
        {% for name, href, id in menu_items %}
            <li>
                <a {% if id == active_page %} class="active"{% endif %} href={{ href }}>
                    {{ name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

